@import '../_variables.scss';

header {
  background-color: $primary-background;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  h1 {
    font-weight: 400;
    width: 60%;
    margin: 0 auto;
  }
}

.body-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 80px;
}
