@import '../_variables.scss';

header {
  background-color: $primary-background;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1111;
  display: flex;
  justify-content: center;

  .header-info {
    width: 55%;
    display: flex;
    h1 {
      font-weight: 400;
      align-self: flex-start;
      flex: 1;
    }

    .user-pref-button {
      background-color: $brand-colour;
      border: none;
    }
  }
}

.body-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 80px;

  .block-data {
    margin: 50px 0;
  }
}
