<div
  class="block-container"
  [ngClass]="blockData.reverseLayout ? 'reverse-block' : ''"
>
  <div class="block-info">
    <h3
      class="block-title"
      [innerHtml]="blockData.title | highlight : 'the'"
    ></h3>
    <p
      class="block-description"
      [innerHtml]="blockData.description | highlight : 'the'"
    ></p>

    <svg class="blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path
        fill="#e4e4e4"
        [attr.d]="svgPoints"
        transform="translate(100 100)"
      />
    </svg>
  </div>
  <div class="block-image">
    <img
      src="../../../assets/images/{{ blockData.imageUrl }}"
      alt="Block Image"
    />
  </div>
</div>
